.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
  align-content: space-between;
}

main {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 20px;
}

#evaluation-form {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  flex-grow: 2;
}

.familia {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  flex-grow: 2;
  width: 150px;
}

footer {
  margin: 0 auto;
  align-content: center;
  bottom: 0;
  background-color: grey;
  padding: 0;
  width: 100%;
  padding-right: 0;
  padding-bottom: 5px;
  align-items: center;
}

footer h4 {
  align-content: center;
  margin-left: 40%;
}

#submit-btn {
  background-color: indigo;
  color: azure;
  font-weight: 800;
  border-radius: 8px;
}

.avaliacao {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.line-um {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#email {
  border-radius: 8px;
}

#password {
  border-radius: 8px;
}

#buttonEnter {
  border-radius: 8px;
}

